.content {
    height: 1828px;
    background-color: #ffffff;
   }
   .content-c {
       padding-top: 100px;
       height: 1728px;
   }
 .down {
    height: 555px;
    background-color: rgba(164, 164, 164, 0.5);
 }
 .down-c {
    height: 555px;
 }
 .msg {
 background-color: #4d4d4d;
 }
 .content-c,
 .down-c {
     width: 1200px;
     margin: 0 auto;
  }
 .content-c-1 {
      height: 710px;
      width: 780px;
      float: left;
      background:url("../img/h4.png")no-repeat;
  }
 .content-c-1a {
      float: left;
      width: 415px;
      height: 710px;
 
 }
 .content-c-1a2 {
       width: 300px;
       height: 75px;
       color: #2a2a2a;
       font-size: 30px;
       margin-top: 20px;
       margin-left: 20px;
 }
 .content-c-1a3 {
       width: 90px;
       height: 15px;
       color: #585858;
       font-size: 16px;
       margin-left: 130px;
       margin-top: -50px;
 }
 .content-c-1a4 {
       width: 70px;
       height: 20px;
       color: #c5c5c5;
       font-size: 16px;
     margin-top: 30px;
     margin-left: 155px;
 }
 .content-c-1a7 {
    width: 200px;
    height: 18px;
    color: #c5c5c5;
    font-size: 16px;
    margin-left: 95px;
    margin-top: 10px;
 }
 .content-c-1a5 {
      width: 400px;
       height: 40px;
       color: #d5d5d5;
       font-size: 14px;
       margin-top: 28px;
       margin-left: 20px;
       margin-bottom: 78px;
 }
 .content-c-1a6 {
    display: block;
    width: 150px;
    height: 45px;
    text-align: center;
    margin: 0 auto;
    line-height: 45px;
    color: #2d2d2d;
    font-size: 12px;
    border: 1px solid rgba(40, 40, 40, 0.1);
}

 .content-c-2a {
     height: 710px;
     width: 780px;
     float: left;
     margin-top: 50px;
      background:url("../img/h2.png")no-repeat;
  }

  .content-c-3a {
      float: left;
      width: 710px;
      height: 206px;
      margin-top: 50px;
  }
  .content-c-3a1 {
      width: 709px;
      height: 40px;
      font-size: 14px;
      color: #747474;
      margin-bottom: 60px;
  }
  .content-c-3a2s1 {
         width: 100px;
         height: 20px;
         font-size: 16px;
         color: #6a6a6a;
  }
  .content-c-3a22 {
         width: 90px;
         height: 20px;
         font-size: 16px;
         margin-top: 10px;
         color: #6a6a6a;
  }
  .down-c-1 {
      width: 200px;
      height: 32px;
      padding-top: 100px;
  }
  .down-c-1 li{
      width: 75px;
      height: 32px;
      float: left;
      font-size: 12px;
      color: #6a6a6a;
      text-align: center;
      background-color: #f7f5f5;
      padding-top: 9px;
  }
  .down-c-1a {
      margin-right: 40px;
  }
  .down-c-1a a,.down-c-1b a {
      color: #929292;
  }
  .down-c-2 {
      position: relative;
      margin-top: 40px;
      height: 220px;
      margin-bottom: 60px;
     
  }
  .down-c-2 li {
      width:160px;
      height: 220px;
      float: left;
  }
  .down-c-2a {
      margin-right: 30px;
      background: url("../img/h3-1.png") no-repeat;
  }
  .down-c-2b {
     margin-right: 30px;
      background: url("../img/h3-2.png") no-repeat;
  }
  .down-c-2c {
     margin-right: 30px;
      background: url("../img/h3-3.png") no-repeat;
  }
  .down-c-2d {
     margin-right: 30px;
      background: url("../img/h3-4.png") no-repeat;
  }
  .down-c-2e {
    margin-right: 30px;
      background: url("../img/h3-5.png") no-repeat;
  }
.down-c-2e1 {
    background: url("../img/h3-6.png") no-repeat;
}

  .down-c-2f {
      position:absolute;
      top: 87px;
      left: -45px;
      width: 32px;
      height: 50px;
      background: url("../img/j左.png") no-repeat;
  }
  .down-c-2g {
      position:absolute;
      top: 87px;
      right: 47px;
      width: 32px;
      height: 50px;
      background: url("../img/j右.png") no-repeat;
  }

  .down-c-3 {
      width: 150px;
      height: 45px;
      margin: 0 auto;
      margin-left: 480px;
      /* padding-top: 16px; */
  }
  .down-c-3 a{
      font-size: 12px;
      line-height: 12px;
      /* color: #c2c1c1; */
      color: rgba(194, 193, 193, 5);
      padding: 17px 60px;
      border: 1px solid #bbbaba;
  }
  .msg-c-1,.msg-c-2,.msg-c-2 a {
      color: #f1f0f0;
  }